* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.accordion {
    display: flex;
    height: 300px;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.accordion .item {
    overflow: hidden;
    flex: 1 0 80px;
    transition: flex .3s ease-in-out;
    display: flex;
}


.item:hover {
    flex: 10;
}

.item:hover .title .open {
    transform: translateX(-40px);
}

.item .title {
    background: #444444;
    flex: 0 0 40px;
    display: flex;
    overflow: hidden;
}

.title > * {
    flex: 0 0 40px;
}

.title .collapse {
    background: #222;
}

.title .open {
    background: lightblue;
    transition: transform .3s;
}

.content {
    flex: 0 0 400px;
}

.item:nth-child(1){
    background: #ef9a9a;
}
.item:nth-child(2){
    background: #ce93d8;
}
.item:nth-child(3){
    background: #90caf9;
}
.item:nth-child(4){
    background: #a5d6a7;
}
.item:nth-child(5){
    background: orange;
}
